Q1.Data Encoding is the process of converting categorical data into nominal data.Beacause in computer it does not understand the categorical data.

Q2.When we have unordered datasets then we need to perform nominal encoding.
Supoose there are some objects in a store speaker ,phone,laptop,charger if we need to make them in nominal data.we perform like.
speker,phone,laptop,charger
speker-0001
phone-0010
laptop-0100
charger-1000

Q4.I have 5 categorical item a,b,c,d,e. To convert them in nominal data i will use ine hot encoding it will make them in the order as
a[1,0,0,0,0]
a[0,1,0,0,0]
a[0,0,1,0,0]
a[0,0,0,1,0]
a[0,0,0,0,1]

Q3.When we a dataset which is related to one another for exam rating of moive.
exellent,good,poor
if we use one hot encodind it will convert them in numerical data but create 3 categorical item sets
and if we use nomical encoding we can convert them by there precedec order.higher priority has higher rank 
exellent-1
good-2
poor-3

Q5.it depend on the unique category if column 1 has n unique and column 2 has m unique actegory then n+m new column will be generated.
column1-n
column2-m 
total new column = n+m

Q6.

Q7.customer's gender, age, contract type,monthly charges, tenure
here is only one categorical data tha is gender.Other will be categorical
gender can be male female or trangender.
So i would try to use orinal encoding(one hot encoding) to cenvert data  into nominal data.